@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat'),
    url('/fonts/Montserrat-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold Italic'), local('Montserrat'),
    url('/fonts/Montserrat-700i.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Italic'), local('Montserrat'),
    url('/fonts/Montserrat-400i.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat'),
    url('/fonts/Montserrat-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold'), local('Rubik'), url('/fonts/Rubik-700.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold Italic'), local('Rubik'),
    url('/fonts/Rubik-700i.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik Italic'), local('Rubik'), url('/fonts/Rubik-400i.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik Regular'), local('Rubik'), url('/fonts/Rubik-400.woff2')
    format('woff2');
}

:root {
  --ff-display: "Montserrat", system-ui, sans-serif;
  --ff-body: "Rubik", system-ui, sans-serif;

  --clr-black: oklch(0 0 0);
  --clr-white: oklch(1 0 89.9);
  --clr-yellow: oklch(0.7821 0.1595 113.2);
  --clr-green: oklch(0.6846 0.1087 166.6);
  --clr-emerald: oklch(0.5214 0.0965 173.1);
  --clr-sky: oklch(0.6366 0.1321 244.4);
  --clr-blue: oklch(0.4618 0.1456 255.0);
}

html {
  color-scheme: light dark;
}

.page {
  background-color: light-dark(var(--clr-white), var(--clr-black));
  color: light-dark(var(--clr-black), var(--clr-white));
  font-family: var(--ff-body);
  line-height: 1.6;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav__link {
  color: inherit;
  text-decoration: none;
}

.heading {
  font-family: var(--ff-display);
}
