@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat'),
    url('/fonts/Montserrat-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold Italic'), local('Montserrat'),
    url('/fonts/Montserrat-700i.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Italic'), local('Montserrat'),
    url('/fonts/Montserrat-400i.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat'),
    url('/fonts/Montserrat-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold'), local('Rubik'), url('/fonts/Rubik-700.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold Italic'), local('Rubik'),
    url('/fonts/Rubik-700i.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik Italic'), local('Rubik'), url('/fonts/Rubik-400i.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik Regular'), local('Rubik'), url('/fonts/Rubik-400.woff2')
    format('woff2');
}

:root {
  --ff-display: "Montserrat", system-ui, sans-serif;
  --ff-body: "Rubik", system-ui, sans-serif;
}

html {
  color-scheme: light dark;
}

body {
  font-family: var(--ff-body);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-display);
}
